@import "../../variables";

.wrapperCustomerPage {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}

.customerOptions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
