/* ==================== General ==================== */
$borderColor: #989696;
$buttonColor: #989696;
$borderRadiusNormal: 5px;
$buttonColorHover: #d0cece;
/* ==================== General ==================== */

/* ==================== Header ==================== */
$textColorHeader: #d3d3d3ff;
$textColorHeaderHover: #2d2d2dff;
$headerBackground: #689bce;
/* ==================== Header ==================== */

/* ==================== Customer ==================== */
/* ==================== Customer ==================== */
